<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4c5DwMqkFi9YWg4t2W0kdI7OkFXOFjFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>875233357360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atebaApp</string>
	<key>PROJECT_ID</key>
	<string>ateba-8aaf2</string>
	<key>STORAGE_BUCKET</key>
	<string>ateba-8aaf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875233357360:ios:ed7c368307526c12cc87f5</string>
</dict>
</plist>